---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Mi Página Personal',
  description: 'Bienvenido a mi página personal',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="title">
      Hola, soy <span class="text-accent dark:text-white">David Fabián</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Bienvenido a mi página personal. Aquí podrás conocer más sobre mí y mis proyectos.
      </span>
    </Fragment>
  </Hero>
</Layout>
